* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    height: auto;
    font-size: clamp(1rem, 2vw, 4rem);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior:smooth;
    overflow-y: scroll;
    background: linear-gradient( #6fb1a7,#000000);
    transition: background-color 1s ease;
    overflow-x: hidden;
    color: rgba(0, 0, 0, 0.718);
  }


:root * {
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes body {
to {
  background-color: rgb(19, 48, 97);
}
}

.titolo h1{
    color: #000000;
    text-shadow: 8px 1px 4px rgba(0, 0, 0, 0.424);
    text-transform: uppercase;
    font-size: clamp(7rem, 3vw, 5rem);
    text-align: center;
    text-wrap: balance;
    transition: 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    user-select: none;
    
}
.titolo h1:hover{
    text-shadow: 12px 1px 4px rgba(0, 0, 0, 0.424);
    letter-spacing: 2px;
    -webkit-text-stroke-color:turquoise;
    -webkit-text-stroke-width: 3px;
    cursor: none;
}
.navbar ul,li,a{
  user-select: none;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  margin-left: 4.7%;
  transition: 0.2s cubic-bezier(0.255, 0.03, 0.515, 0.360);
  text-decoration: none;
  -webkit-text-stroke-width: 1px;
  padding: 1vh;
}
.navbar a{
  margin: auto;
  color: black;
  font-size: clamp(2rem, 1.5vw, 3rem);
  
}
.navbar a:hover{
  cursor: pointer;
  color: rgb(39, 189, 147);
 
  -webkit-text-stroke-color: rgb(0, 0, 0);
   -webkit-text-stroke-width: 2px;
}

.navbar{
  border-bottom: 1px solid rgb(106, 105, 105);
  height: 18vh;
}
ul {
  display: flex;
  list-style: none;

}

img{
  border-radius: 18vh;
}
.icone {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.tag-list {
  list-style: none;
}


.tag-list img {
  padding: 0.8rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.491);
  transition: 200ms ease-in-out;
}
.tag-list img:hover{
  scale: 0.9;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.605);
}
.main h1{
  text-transform: uppercase;
  text-overflow: ellipsis;
  text-align: center;
  -webkit-text-fill-color: rgb(0, 0, 0);
  transition: 0.4s cubic-bezier(0.55, 0.055, 0.675, 0.249);
}
.main a{
  text-transform: none;
  margin-left: 0px;
  cursor: pointer;
  text-decoration:underline rgb(30, 227, 158);
  color: #050402;
}
hr{
  color: black;
  margin-bottom: 2vh;
  margin-top: 1vh;
  border-bottom: 10vh;
}
.main P{
  font-size: 3vh;
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 2%;
}
.main p::first-letter{
  text-transform: uppercase;
  font-size:30px;
}

.main h1:hover{
  letter-spacing: 1vh;
  color: #6bc1ff; 
 
}
.main {
  background-color: linear-gradient(#f4f4f4,black);
}
.main strong{
  text-transform: uppercase;
  font-size: 4vh;
}
.main #professions p{
  font-size: 3vh;
}
.main #professions p::first-letter{
  text-transform: uppercase;
  font-size: 4vh;
  justify-content:left;
}
section {
  padding-top: 45vh;
  padding-bottom: 45vh;
  padding-left: 25%;
  padding-right: 25%;
  width: 100%;
}
h2 {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 2vh;
}

.grid-item {
  border-radius: 30px;
  border: 5px solid #c2c2c2;
  padding: 10px;
  transition: 0.7s cubic-bezier(0.215, 0.610, 0.355, 1);
 
}
.grid-item #profession p::first-letter{
  font-size: 3vh ;
}
.grid-item:hover {
  background-color: #10ff97;
 
}


footer {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 28vh;
  color: rgb(190, 190, 190);
  font-size: 3vh;
  
}
footer p{
  opacity: 0;
  color: #969696;
}
footer:hover p{
  opacity: 1;
  transition: 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
footer li{
  margin-right: 25px;
  
}
footer h3{
  display: block;
  text-align: center;
  font-size: 2.4rem;
  text-transform: uppercase;
}
.vertical-separator {
  border-left: 2px solid #000000; 
  height: 14vh; 
  margin: 0 2px; 
}
#trends li{
  text-align: center;
  list-style: none;
  color: #cdcdcd;
}
#trends p{
  color: #b8b8b8;
}
div #trends {
  color: #adacac;
}
